body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
#card{
    display: flex;
    width: 1200px;
    height: 446px;

}
.r-side{
    background-image: url(../images/image-header-desktop.jpg);
    width: 540px;
}
.l-side{
    width: 660px;
    display: flex;
    flex-direction: column;
}
.stats-row{
    display: flex;
}