body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: hsl(233, 47%, 7%);
    font-family: 'Inter', sans-serif;
}
#card{
    display: flex;
    width: 1036px;
    height: 446px;

}
.r-side{
    background-image: url(../images/image-header-desktop.jpg);
    width: 650px;
    background-color: hsl(277, 64%, 61%);
    background-blend-mode: multiply;
}
.l-side{
    width: 455px;
    display: flex;
    flex-direction: column;
    background-color: hsl(244, 38%, 16%);
    padding: 32px 60px;
}
h1,h2{
    color:hsl(0, 0%, 100%)
}
h1{
    width: 346px;
}
h2{
    margin-bottom: 2px;
}
.insights{
    color: hsl(277, 64%, 61%);
}
p{
    color: hsla(0, 0%, 100%, 0.75);
    width: 380px;
    line-height: 1.8;
}
.stats-row span{
    color: hsla(0, 0%, 100%, 0.6);
    text-transform: uppercase;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 14px;
    font-size: 12px;
}
.stats-row{
    display: flex;
    gap: 50px;
    margin: 40px 0;
}